{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}
{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
<body class="body">
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Об авторе</h1>
        </div>
        <div class="card-list card-list_column">
            <div>Лорем ипсум, долор сит амет, как говорится :)<div>
        </div>
    </main>
</body>
    {% block scripts %}
        <script src="{% static 'js/components/MainCards.js'%}"></script>
        <script src="{% static 'js/components/Purchases.js'%}"></script>
        <script src="{% static 'js/components/Favorites.js'%}"></script>
        <script src="{% static 'js/config/config.js'%}"></script>
        <script src="{% static 'js/components/CardList.js'%}"></script>
        <script src="{% static 'js/components/Header.js'%}"></script>
        <script src="{% static 'js/api/Api.js'%}"></script>
        <script src="{% static 'indexAuth.js'%}"></script>
    {% endblock %}
{% endblock %}
